@import "../../scss/variables";

.card-container {
  margin: 0.5rem;
  min-width: 12em;
  overflow: hidden;
  background-color: darken($body-bg, 5%);
  border: solid 5px $white;
  border-radius: 5%;
  transition: 0.4s;
  cursor: pointer;
  user-select: none;

  &:hover {
    border: solid 5px $color-tertiary-purple;
    background-color: $white;
  }
  img {
    width: 100%;
    height: auto;
    filter: grayscale(50%);
    // border: solid $color-tertiary-purple 5px;
    &:hover {
      filter: grayscale(0%);
    }
  }
  figcaption {
    width: 100%;
    text-align: center;
    font-weight: 800;
    display: inline-block;
    color: $color-secondary-purple;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5em;
  }
}
