@import "../../scss/variables";

.card-carousal-container {
  position: relative;
  margin: 2em;

  .heading {
    color: $color-primary;
    user-select: none;
  }
  .card-carousal {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  .arrow {
    position: absolute;
    filter: drop-shadow(0px 0px 5px #555);
    width: 2rem;
    height: 2rem;
    color: $txt-color;
    top: 50%;
    z-index: 1;
  }

  .arrow:hover {
    cursor: pointer;
  }

  .arrow-left {
    left: 1rem;
  }

  .arrow-right {
    right: 1rem;
  }
}
