$body-bg: rgb(238, 238, 238);
$color-primary-purple: rgb(101, 40, 247);
$color-secondary-purple: rgb(160, 118, 249);
$color-tertiary-purple: rgb(215, 187, 245);
$txt-color: #000;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
